body {
  background-color: #f1ebd1;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  /*   justify-content: center; */
  align-items: center;
}

.image {
  position: relative;
  opacity: 1;
  height: 592px;
  width: 1000px;
  outline: solid 1px black;
  /*   display: block; */
  transition: 0.5s ease;
  z-index: 2;
}

.image:hover {
  /* Lower is more transparent */
  opacity: 0.5;
  cursor: pointer;
  /* An element with greater stack order is always in front of an element with a lower stack order. */
  z-index: 1;
}

.text {
  position: absolute;
  color: black;
  font-size: 60px;
  top: 200px;
  text-align: center;
  /* An element with greater stack order is always in front of an element with a lower stack order. */
  z-index: 1;
}
